@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
  --red: #d01c28;
  --gray: #2e2e2e;
}

*{
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  display: flex;
  list-style-type: none;
  gap: 24px;
  flex-wrap: wrap;
}

.hero{
  display: flex;
  align-items: center;
  height: 85vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex-wrap: wrap;
  max-width: 600px;
}

.hero h1{
  font-size: 6vw;
  font-weight: 800;
  line-height: 1.2;
}
.hero p{

  font-weight: 600;
  color: var(--gray);
}

.hero-btn{
  display: flex;
  gap: 40px;
}
.hero-btn button{
  font-size: 24px;
}
.secondary-btn{
 background: transparent;
 color: var(--gray);
 border: 1px solid var(--gray);
}

.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 16px;
}
.hero-image img{
  width: 100%;
}

@media only screen and (max-width: 767px) {
  nav{
    justify-content: center;
    gap: 40px;
  }
}